.ball {
    display: inline-block;
    width: 80px;
    height: 80px;
    background-color: #FFC107;
    border-radius: 50%;
    line-height: 86px;
    font-size: 50px;
    margin: 5px;
    text-align: center;
}