<script src="scripts/main.js"></script>

<div id="title-text" class="lg-text">어디로 떠나볼까요?</div>
<div id="title-sub-text" class="md-text">Where do you want to go?</div>
<div id="search-panel">
    <form>
        <div class="panel-block">
            <label for="calendar">일정이 언제에요?</label>
            <div>
                <input type="text" id="calendar" />
            </div>
        </div>
        <div class="panel-block">
            <label for="city">어디로 가고 싶으세요?</label>
            <div>
                <input type="text" id="city" />
            </div>
        </div>
        <div class="panel-block no-margin">
            <button type="submit" class="btn-search">
                <img src="images/icon_search_on.png" />
                검색
            </button>
        </div>
    </form>
</div>
<div id="list-panel"></div>